body{
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
/* Container */
.container{
    max-width: 100%;
    margin: 0px auto;
}
/* Header */
.header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    position: relative;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 10%;
}
.header__logo{
    font-size: 3.5rem;
    color: #333;
    font-weight: 100;
}
/* HeaderNavigation */
.header__nav__link{
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color .2s linear;
    font-size: 1rem;
    margin: auto 2rem;
}
.header__nav__link:after{
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    opacity: 0;
    background-color: rgb(228, 116, 24);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
}
.header__nav__link:hover{
    color:#f75a38;
}
.header__nav__link.active:after,
.header__nav__link:hover:after{
    opacity: 1;
}
.header__nav__link.active{
    color:#f75a38;
}
/* Navigation */
.nav__inner{
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 1px solid #d7d7d7;
    padding: 16px 0;
}
.nav__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin:auto 2rem;
    color: #000;
    transition: color .1s linear;
}
.nav__link:hover{
    color: #f75a38;
}
/* Section */
.section{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;

}
.section__inner{
    display: flex;
}
/*CONTAINER NEWS */
.container_news{
    border-right: 1px solid #d7d7d7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2rem;

}
.container_news_second{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2rem;
    padding-right: 6rem;
}
/* First */
.section__box__first{
    align-items: center;
    padding-left: 6rem;
    max-width: 35%;
    margin-top: 2rem;
    border-right: 1px solid #d7d7d7;
}
.img__box__first{
    max-width: 100%;
}
.suptitle__box__first{
    margin: 1rem auto 0.5rem;
}
.text__box__first{
    line-height: 0.1em;
    color: black;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.1s linear;

}
.title__box__first{
    font-size: 2.5rem;
    transition: color 0.1s linear;
}
.subtitle__box__first{
    font-size: 1.2rem;
}

.text__box__first:hover,
.title__box__first:hover{
    color:#f75a38;
}
/* Second */
.section__box__second{
    margin-left: 4rem;
    max-width: 32%;
}
.img__box__second{
    max-width: 100%;

}
.suptitle__box__second{
    margin: 1rem auto 0.5rem;
}
.title__box__second{
    font-size:1.2rem;
    transition: color 0.1s linear;
}
.text__box__second{
    line-height: 0.1em;
    color: black;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.1s linear;
}
.text__box__second:hover,
.title__box__second:hover{
    color:#f75a38;
}
/* Third */
.section__box__third{
    margin-left: 4rem;
    max-width: 32%;
    margin-top: 4rem;
}
.img__box__third{
    max-width: 100%;
}
.suptitle__box__third{
    margin: 1rem auto 0.5rem;
}
.text__box__third{
    line-height: 0.1em;
    color: black;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.1s linear;
}
.title__box__third{
    font-size:1.2rem;
    transition: color 0.1s linear;
}
.text__box__third:hover,
.title__box__third:hover{
    color:#f75a38;
}
/* Fourth */
.section__box__fourth{
    margin-left: 4rem;
    max-width: 32%;
}
.img__box__fourth{
    max-width: 20rem;
}
.suptitle__box__fourth{
    margin: 1rem auto 0.5rem;
}
.text__box__fourth{
    line-height: 0.1em;
    color: black;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    transition: color 0.1s linear;
}
.title__box__fourth{
    font-size:1.2rem;
    transition: color 0.1s linear;
}
.text__box__fourth:hover,
.title__box__fourth:hover{
    color:#f75a38;
}
/* Fifth */
.section__box__fifth{
    margin-left: 4rem;
    max-width: 32%;
    margin-top: 4rem;
}
.img__box__fifth{
    max-width: 20rem;
}
.suptitle__box__fifth{
    margin: 1rem auto 0.5rem;
}
.text__box__fifth{
    line-height: 0.1em;
    color: black;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.1s linear;
}
.title__box__fifth{
    font-size:1.2rem;
    transition: color 0.1s linear;
}
.text__box__fifth:hover,
.title__box__fifth:hover{
    color:#f75a38;
}